{% extends"base.html" %}
{% block title %}更改密码{% endblock %}

{% block head %}
    {{ super() }}
    <link href={{ url_for("static",filename="css/user.css") }} rel="stylesheet">
{% endblock %}
{% block sidebar %}
    <ul class="nav nav-sidebar">
        <li><a href="{{ url_for("user.data") }}">个人资料</a></li>
        <li class="active"><a href="{{ url_for("user.change_password") }}">修改密码<span
                class="sr-only">(current)</span></a>
        </li>
    </ul>
{% endblock %}
{% block main %}
    {% include "flash_error.html" %}
    <form class="form-signin" action="{{ url_for('user.change_password') }}" method=POST>
        <h2 class="form-signin-heading">修改密码</h2>
        <label for="inputPassword" class="sr-only">原密码</label>
        <input type="password" id="inputPassword" name=password class="form-control first" placeholder="请输入原密码"
               autocomplete="off" required autofocus>
        <label for="reInputPassword" class="sr-only">新密码</label>
        <input type="password" id="reInputPassword" name=newpassword class="form-control mid" placeholder="请输入新密码"
               required>
        <label for="reInputNewPassword" class="sr-only">重复新密码</label>
        <input type="password" id="reInputNewPassword" name=renewpassword class="form-control last"
               placeholder="请重复输入新密码"
               required>
        <button class="btn btn-lg btn-primary btn-block" type="submit">修改密码</button>
    </form>
{% endblock %}