{% extends "base.html" %}
{% block title %}首页{% endblock %}
{% block main %}
    <h1>尊敬的<b style="color:red">VIP会员</b><b>{{ current_user.username }}</b>，您好：</h1>
    <h1><a style="color:red" href="http://www.anxincpa.com.cn:2000/">安信服务器系统已优化生成逻辑，生成时间大幅减短。本服务器将于<b><u>3月10日</u></b>关闭。请使用安信服务器开函。点击前往</a></h1>
	</br></br>
	<p><b>2020年2月1日更新：</b></p>
	<p>现在可以不重新上传模板来修改银行付款账号，修改后需重新生成函证。</p>
    <p><b>2020年1月23日更新：</b></p>
	<p>由于项目条数增加，现在采用倒序排列上传的银行函证列表，新上传的银行函证将展示在第一行。</p>
    <p><b>2020年1月22日更新：</b></p>
	<p>百分数原来默认保留两位小数，现在改为尽可能多的保留小数，小于两位小数的不变。</p>
	<p>新添加的函证，默认附表不隐藏，显示划线附表。</p>
	<p><b>2020年1月21日更新：</b></p>
	<p>无内容项目，如果不添加无，自动划线。</p>
    <p><b>2020年1月19日更新：</b></p>
	<p>增加按钮以显示空附表。</p>
	<p>查看函证页面中添加批量下载包按钮。</p>
	<p><b>2020年1月15日更新：</b></p>
	<p>修复其他事项填写后，不能生成的bug。</p>
	<p>模板中无内容项目自动填充的“无”字，可以点击按钮，删除“无”字。</p>
	<p><b>2020年1月12日更新：</b></p>
	<p>修改表格分页逻辑，分页的表格可以更好的显示。</p>
	<p><b>2020年1月7日更新：</b></p>
	<p>添加按钮可以为个别银行的无内容项目自动填充“无”字。</p>
	<p>修改后需要点击“重新生成”按钮，重新生成pdf函证。</p>
	<p><b>2020年1月6日更新：</b></p>
	<p>模板中删除无内容项目自动填充的“无”字。</p>
{% endblock %}
	